@{
    ViewData["Title"] = "Home Page";
}

<div class="demo-section k-content mb-2">
    @(Html.Kendo().TextBox()
        .Name("textboxUrl")
        .Placeholder("Enter YouTube URL here")
        .Label(label => label
            .Content("Enter YouTube URL here")
            .Floating(true)
        )
        .Value("https://www.youtube.com/watch?v=cUAZHrmlTts")
        .HtmlAttributes(new { style = "width: 100%" })
    )

    <style>
        .k-floating-label-container {
            width: 100%;
        }

        div.humidity {
            width: 99%;
        }
    </style>
</div>
<p class="text-center">
    @(Html.Kendo().Button()
        .Name("PrimaryButton1")
        .HtmlAttributes(new { @class = "k-primary" })
        .Content("Display")
        .Events(ev => ev.Click("onClick")))
</p>
<div class="row">
    <div class="col-md-6">
        <p class="text-center">
            <span id="spanStartFrame">Start frame</span>
            </p>
        <p class="text-center">
            @(Html.Kendo().MediaPlayer()
        .Name("MediaPlayerStart")
        .AutoPlay(true)
        .Volume(0)
        .Media(m => m
            .Title("Count up timer 10 minutes")
            .Source("https://www.youtube.com/watch?v=cUAZHrmlTts")
        )
        .FullScreen(false)
        .Navigatable(false)
        .HtmlAttributes(new { style = "height:360px" })
    )
        </p>
    </div>
    <div class="col-md-6">
        <p class="text-center">
            <span id="spanEndFrame">End frame</span>
        </p>
        <p class="text-center">
            @(Html.Kendo().MediaPlayer()
        .Name("MediaPlayerEnd")
        .AutoPlay(true)
        .Volume(0)
        .Media(m => m
            .Title("Count up timer 10 minutes")
            .Source("https://www.youtube.com/watch?v=cUAZHrmlTts")
        )
        .FullScreen(false)
        .Navigatable(false)

        .HtmlAttributes(new { style = "height:360px" })
    )
        </p>
    </div>
</div>

<p class="text-center">
    @(Html.Kendo().RangeSlider()
                  .Name("rangeslider")
                  .Min(0)
                  .Max(100)
                  .SmallStep(0.1)
                  .LargeStep(10)
                  .Events(events => events
                      .Slide("rangeSliderSlide")
                      .Change("rangeSliderChange"))
                  .HtmlAttributes(new { @class = "humidity" }))
</p>

<p class="text-center">
    <div id="divUrlDetails"></div>
</p>

@section scripts {
    <script>
        $(window).resize(function () {
            var slider = $("#rangeslider").getKendoRangeSlider();
            slider.resize();
        });

        function onClick(e) {
            var mediaPlayerStart = $("#MediaPlayerStart").data("kendoMediaPlayer");
            var mediaPlayerEnd = $("#MediaPlayerEnd").data("kendoMediaPlayer");

            var url = $("#textboxUrl").val();
            localStorage.setItem("url", url);

            mediaPlayerStart.media({
                //title: "Responsive Website Delivers for Reeves Import Motorcars",
                //poster: "http://img.youtube.com/vi/DYsiJRmIQZw/1.jpg",
                source: url
            });

            mediaPlayerEnd.media({
                //title: "Responsive Website Delivers for Reeves Import Motorcars",
                //poster: "http://img.youtube.com/vi/DYsiJRmIQZw/1.jpg",
                source: url
            });

            $.ajax({
                url: '/Home/GetUrlDetails?url=' + url,
                contentType: 'application/html; charset=utf-8',
                type: 'GET',
                dataType: 'html'
            })
                .success(function (result) {
                    $('#divUrlDetails').html(result);
                })
                .error(function (xhr, status) {
                    alert(status);
                })
        }
        function setValues(e) {
            var mediaPlayerStart = $("#MediaPlayerStart").data("kendoMediaPlayer");
            var mediaPlayerEnd = $("#MediaPlayerEnd").data("kendoMediaPlayer");

            var split = e.value.toString().split(",")
            var start = parseFloat(split[0]);
            var end = parseFloat(split[1]);

            mediaPlayerStart.seek(start * 1000);
            mediaPlayerStart.pause();

            mediaPlayerEnd.seek(end * 1000);
            mediaPlayerEnd.pause();

            $("#spanStartFrame").text("Start frame " + start);

            $("#spanEndFrame").text("End frame " + end);

        }

        function rangeSliderSlide(e) {
            setValues(e);

        }

        function rangeSliderChange(e) {
            setValues(e);
        }

    </script>
}
