@{
    Layout = null;
    string title = "Cut YouTube";
    string description = "Download YouTube videos. Convert files to mp3, mp4, mkv, webp, aac, vorbis, m4a, opus, wav and many more.";
    string sitename = "https://www.cutyt.com/";
    string author = "https://www.cutyt.com/";
    string canonicalUrl = "https://www.cutyt.com/";
    string imageUrl = "https://www.cutyt.com/android-chrome-512x512.png";
}
<!DOCTYPE html>
<html amp lang="en">
<head>
    <meta charset="utf-8" />
    <meta title="@title" />
    <meta property="og:image" content="@imageUrl" />
    <meta property="og:title" content="@title" />
    <meta property="og:description" content="@description" />
    <meta property="og:url" content="@canonicalUrl" />
    <meta property="og:site_name" content="@sitename" />
    <meta property="og:author" content="@author" />
    <meta property="og:type" content="website" />
    <meta property="fb:app:id" content="773558706918738" />
    <meta property="fb:app_id" content="773558706918738" />

    <meta name="description" content="@description">
    <title>@title</title>
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
    <script custom-template="amp-mustache" src="https://cdn.ampproject.org/v0/amp-mustache-0.2.js" async></script>
    <script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>
    <script async custom-element="amp-bind" src="https://cdn.ampproject.org/v0/amp-bind-0.1.js"></script>
    <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
    <script async custom-element="amp-list" src="https://cdn.ampproject.org/v0/amp-list-0.1.js"></script>

    <link rel="canonical" href="@canonicalUrl" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <link href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">

    <partial name="_BoilerplateCssPartial.cshtml" />
    <partial name="_AmpCustomCssPartial.cshtml" />
</head>
<body>
    <amp-analytics type="gtag" data-credentials="include">
        <script type="application/json">
            {
              "vars" : {
                "gtag_id": "UA-43988280-11",
                "config" : {
                  "UA-43988280-11": { "groups": "default" }
                }
              }
            }
        </script>
    </amp-analytics>
    <section class="header2 cid-qTgUa10oxi" id="header2-q">

        <div class="container">
            <div class="mbr-row mbr-justify-content-center">
                <div class="mbr-col-lg-8 mbr-col-md-12">
                    <h1 class="mbr-fonts-style mbr-section-title mbr-bold align-center display-3 cap">@(title.ToUpperInvariant())</h1>
                    <h2 class="mbr-fonts-style mbr-text align-center display-4">@description</h2>
                </div>
            </div>
        </div>
    </section>
    <amp-pixel src="@(canonicalUrl)pixel?bar=QUERY_PARAM(baz,biz)"></amp-pixel>
    <amp-pixel src="@(canonicalUrl)pixel?RANDOM"></amp-pixel>
    <section class="form1 cid-qTgW5lPO8j" id="form1-26">
        <div class="container">
            <h2 class="align-center mbr-bold mbr-fonts-style display-3">Paste YouTube Url here</h2>
            <p class="mbr-section-subtitle align-center mbr-light mbr-fonts-style display-5">We'll display different options for download</p>
            <div class="mbr-row mbr-justify-content-center">
                <div class="mbr-col-lg-12  mbr-col-md-10 " data-form-type="formoid">
                    <form class="mbr-form user-invalid" method="post" action-xhr="/home/getyoutubev" on="submit-success: AMP.setState({ 'youTubeInfoResult': event.response.youTubeInfoResult })" data-form-title="Mobirise Form" novalidate="">

                        <div class="fieldset">
                            <input type="text" name="ytUrl" placeholder="Enter YouTube URL here" />
                        </div>
                        <div class="align-center">
                            <div class="mbr-section-btn input-group-btn">
                                <button type="submit" class="btn btn-lg mbr-editable-button btn-warning-outline display-6">
                                    @*<span class="fa fa-arrow-right mbr-iconfont mbr-iconfont-btn"></span>*@Preview
                                </button>
                            </div>
                        </div>
                        <div submitting>
                            <template type="amp-mustache">
                                Generating preview .. just wait 2-3 seconds
                            </template>
                        </div>
                        <div submit-success="">
                            <template type="amp-mustache">
                                <amp-youtube data-videoid="{{youTubeInfoResult.v}}"
                                             layout="fixed-height"
                                             width="auto"
                                             height="270"></amp-youtube>

                                {{#youTubeInfoResult.infos}}
                                <div>
                                    <input type="radio" name="info" id="{{formatCode}}" value="{{formatCode}}" style="width:auto" checked="checked" />
                                    <label for="{{formatCode}}">{{textWithoutCode}}</label>
                                </div>
                                {{/youTubeInfoResult.infos}}

                            </template>
                        </div>
                        <div submit-error="">
                            <template data-form-alert="" type="amp-mustache">
                                Failed! {{error}}
                            </template>
                        </div>
                    </form>

                    <div [class]="youTubeInfoResult.v ? 'show' : 'hide'" class="hide">
                        <form method="post" id="lead-collection-form3" action-xhr="/home/generate">
                            <input type="hidden" name="v" id="v" [value]="youTubeInfoResult.v" />
                            @*Choose download options:
                                <select id="downloadOptions" name="downloadOptions" style="width: 100%;">
                                    <option>@Cutyt.Core.Enums.DownloadOptions.VideoAndAudio</option>
                                </select>*@
                            @*<template type="amp-mustache">
                                    {{#youTubeInfoResult.infos}}
                                    <div>
                                        <input type="radio" name="info" id="{{formatCode}}" value="{{formatCode}}" style="width:auto" />
                                        <label for="{{formatCode}}">{{textWithoutCode}}</label>
                                    </div>
                                    {{/youTubeInfoResult.infos}}
                                </template>*@
                            @*To download the best video and audio quality click the button below:*@
                            <div class="align-center">
                                <div class="mbr-section-btn input-group-btn">
                                    <button type="submit" class="btn btn-lg mbr-editable-button btn-warning-outline display-6">
                                        @*<span class="fa fa-arrow-right mbr-iconfont mbr-iconfont-btn"></span>*@Generate Links
                                    </button>
                                </div>
                            </div>
                            <div submitting>
                                <template type="amp-mustache">
                                    The download link is being generated. Please wait ...
                                </template>
                            </div>
                            <div submit-success>
                                <template type="amp-mustache">
                                    <a target="_blank" href="{{url}}">{{name}}</a>
                                </template>
                            </div>
                            <div submit-error>
                                <template type="amp-mustache">
                                    There was an error. Please try again.
                                </template>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    @*<section class="form1 cid-qTgW5lPO8j" id="form1-27">
            <div class="container">
                <h2 class="align-center mbr-bold mbr-fonts-style display-3">Recent Downloads</h2>
                <p class="mbr-section-subtitle align-center mbr-light mbr-fonts-style display-5">We maintain a list of all files for easy retrieval and sharing</p>
                <div class="mbr-row mbr-justify-content-center">
                    <div class="mbr-col-lg-12  mbr-col-md-10">
                        <amp-list width="auto" height="500" layout="fixed-height" src="/home/getallfiles" binding="refresh">
                            <template type="amp-mustache">
                                <p><a href="{{url}}">{{name}}</a></p>
                            </template>
                        </amp-list>
                    </div>
                </div>

            </div>
        </section>*@

    <section class="features1 cid-qTgUKsQcnH" id="features1-v">
        <div class="container">
            <div class="mbr-row mbr-justify-content-center">
                <div class="card mbr-col-sm-12 mbr-col-md-6 mbr-col-lg-3">
                    <div class="card-wrapper">
                        <div class="card-img">
                            <span class="mbr-iconfont fa-dollar fa"></span>
                        </div>
                        <div class="card-box">
                            <h4 class="box-title mbr-fonts-style align-center mbr-bold display-7">FREE SERVICE</h4>

                            <p class="mbr-text mbr-fonts-style align-center display-5">
                                Our service is always free. No registration required. Download youtube videos without having to pay anything.
                            </p>

                        </div>
                    </div>
                </div>

                <div class="card mbr-col-sm-12 mbr-col-md-6 mbr-col-lg-3">
                    <div class="card-wrapper">
                        <div class="card-img">
                            <span class="mbr-iconfont fa-download fa"></span>
                        </div>

                        <div class="card-box">
                            <h4 class="box-title mbr-fonts-style align-center mbr-bold display-7">UNLIMITED DOWNLOADS</h4>

                            <p class="mbr-text mbr-fonts-style align-center display-5">
                                Download youtube videos as much as you like! No limitations for the number of downloads. Unrestricted file sizes.
                            </p>

                        </div>
                    </div>
                </div>

                <div class="card mbr-col-sm-12 mbr-col-md-6 mbr-col-lg-3">
                    <div class="card-wrapper">
                        <div class="card-img">
                            <span class="mbr-iconfont fa-user-secret fa"></span>
                        </div>
                        <div class="card-box">
                            <h4 class="box-title mbr-fonts-style align-center mbr-bold display-7">SECURE DOWNLOADS</h4>

                            <p class="mbr-text mbr-fonts-style align-center display-5">
                                We use HTTPS for secure connections. We do not collect any personal data. We do not use cookies, but third party services may use them.
                            </p>

                        </div>
                    </div>
                </div>

                <div class="card mbr-col-sm-12 mbr-col-md-6 mbr-col-lg-3 last-child">
                    <div class="card-wrapper">
                        <div class="card-img">
                            <span class="mbr-iconfont fa-windows fa"></span>
                        </div>
                        <div class="card-box">
                            <h4 class="box-title mbr-fonts-style align-center mbr-bold display-7">RUNS EVERYWHERE</h4>

                            <p class="mbr-text mbr-fonts-style align-center display-5">
                                Our responsive and ultra fast website can be used on every platform that is out there. Windows, Linux, Mac, Android, iOS - we support everything.
                            </p>

                        </div>
                    </div>
                </div>





            </div>
        </div>
    </section>
    @*<section class="table2 cid-qTgVMysdUY" id="table2-1y">



            <div class="container">
                <div class="mbr-row mbr-justify-content-center">
                    <div class="mbr-col-md-12 mbr-col-lg-12 mbr-col-sm-12">
                        <h2 class="mbr-fonts-style main-title mbr-black align-center mbr-bold display-3">Download Options</h2>
                        <div class="wrapscroll">
                            <div class="scroll">
                                <table class="table mbr-text mbr-fonts-style" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th class="time1">
                                                <p class="mbr-text tabletitle mbr-fonts-style display-7"></p>
                                            </th>
                                            <th>
                                                <p class="mbr-text tabletitle mbr-fonts-style display-6">
                                                    <span>MONDAY</span>
                                                </p>
                                            </th>
                                            <th>
                                                <p class="mbr-text tabletitle mbr-fonts-style display-6">
                                                    <span>TUESDAY</span>
                                                </p>
                                            </th>
                                            <th>
                                                <p class="mbr-text tabletitle mbr-fonts-style display-6">
                                                    <span>WEDNESDAY </span>
                                                </p>
                                            </th>
                                            <th>
                                                <p class="mbr-text tabletitle mbr-fonts-style display-6">
                                                    <span>THURSDAY</span>
                                                </p>
                                            </th>
                                            <th>
                                                <p class="mbr-text tabletitle mbr-fonts-style display-6">
                                                    <span>FRIDAY</span>
                                                </p>
                                            </th>
                                            <th>
                                                <p class="mbr-text tabletitle mbr-fonts-style display-6">
                                                    <span>SATURDAY</span>
                                                </p>
                                            </th>
                                            <th>
                                                <p class="mbr-text tabletitle mbr-fonts-style display-6">
                                                    <span>SUNDAY</span>
                                                </p>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="time1">
                                                <p class="mbr-text mbr-fonts-style row-time display-6">10.00</p>
                                            </td>
                                            <td>
                                                <div class="box">
                                                    <h2 class="mbr-fonts-style type1 mbr-bold display-7">
                                                        <a href="#">CROSSFIT</a>
                                                    </h2>
                                                    <h3 class="mbr-fonts-style time display-6">10.00 - 11.00</h3>
                                                    <h4 class="mbr-fonts-style name display-6">James Math</h4>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="box">
                                                    <h2 class="mbr-fonts-style type2 mbr-bold display-7">
                                                        <a href="#" class="text-info">CARDIO</a>
                                                    </h2>
                                                    <h3 class="mbr-fonts-style time display-6">10.00 - 11.00</h3>
                                                    <h4 class="mbr-fonts-style name display-6">Amanda Snow</h4>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="box">
                                                    <h2 class="mbr-fonts-style type3 mbr-bold display-7">
                                                        <a href="#">CROSSFIT</a>
                                                    </h2>
                                                    <h3 class="mbr-fonts-style time display-6">10.00 - 11.00</h3>
                                                    <h4 class="mbr-fonts-style name display-6">Amanda Snow</h4>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="box">
                                                    <h2 class="mbr-fonts-style type4 mbr-bold display-7">
                                                        <a href="#">CROSSFIT</a>
                                                    </h2>
                                                    <h3 class="mbr-fonts-style time display-6">10.00 - 11.00</h3>
                                                    <h4 class="mbr-fonts-style name display-6">Amanda Snow</h4>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="box">
                                                    <h2 class="mbr-fonts-style type5 mbr-bold display-7">
                                                        <a href="#" class="text-secondary">BOX</a>
                                                    </h2>
                                                    <h3 class="mbr-fonts-style time display-6">10.00 - 11.00</h3>
                                                    <h4 class="mbr-fonts-style name display-6">Matthew Dunn</h4>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="box">
                                                    <h2 class="mbr-fonts-style type6 mbr-bold display-7">
                                                        <a href="#">CROSSFIT</a>
                                                    </h2>
                                                    <h3 class="mbr-fonts-style time display-6">10.00 - 11.00</h3>
                                                    <h4 class="mbr-fonts-style name display-6">Amanda Snow</h4>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="box">
                                                    <h2 class="mbr-fonts-style type7 mbr-bold display-7">
                                                        <a href="#" class="text-success">FITNESS</a>
                                                    </h2>
                                                    <h3 class="mbr-fonts-style time display-6">10.00 - 11.00</h3>
                                                    <h4 class="mbr-fonts-style name display-6">Barbara Holland</h4>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>









                                            <td class="time1">
                                                <p class="mbr-text mbr-fonts-style row-time display-6">12.00</p>
                                            </td>
                                            <td>
                                                <div class="box">
                                                    <h2 class="mbr-fonts-style type8 mbr-bold display-7">
                                                        <a href="#" class="text-success">FITNESS</a>
                                                    </h2>
                                                    <h3 class="mbr-fonts-style time display-6">10.00 - 11.00</h3>
                                                    <h4 class="mbr-fonts-style name display-6">Barbara Holy</h4>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="box">
                                                    <h2 class="mbr-fonts-style type9 mbr-bold display-7">
                                                        <a href="#">CROSSFIT</a>
                                                    </h2>
                                                    <h3 class="mbr-fonts-style time display-6">10.00 - 11.00</h3>
                                                    <h4 class="mbr-fonts-style name display-6">James Math</h4>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="box">
                                                    <h2 class="mbr-fonts-style type10 mbr-bold display-7">
                                                        <a href="#" class="text-secondary">BOX</a>
                                                    </h2>
                                                    <h3 class="mbr-fonts-style time display-6">10.00 - 11.00</h3>
                                                    <h4 class="mbr-fonts-style name display-6">Amanda Snow</h4>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="box">
                                                    <h2 class="mbr-fonts-style type11 mbr-bold display-7">
                                                        <a href="#" class="text-success">FITNESS</a>
                                                    </h2>
                                                    <h3 class="mbr-fonts-style time display-6">10.00 - 11.00</h3>
                                                    <h4 class="mbr-fonts-style name display-6">Matthew Dunn</h4>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="box">
                                                    <h2 class="mbr-fonts-style type12 mbr-bold display-7">
                                                        <a href="#" class="text-info">CARDIO</a>
                                                    </h2>
                                                    <h3 class="mbr-fonts-style time display-6">10.00 - 11.00</h3>
                                                    <h4 class="mbr-fonts-style name display-6">Amanda Snow</h4>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="box">
                                                    <h2 class="mbr-fonts-style type13 mbr-bold display-7">
                                                        <a href="#">CROSSFIT</a>
                                                    </h2>
                                                    <h3 class="mbr-fonts-style time display-6">10.00 - 11.00</h3>
                                                    <h4 class="mbr-fonts-style name display-6">Amanda Snow</h4>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="box">
                                                    <h2 class="mbr-fonts-style type14 mbr-bold display-7">
                                                        <a href="#" class="text-secondary">BOX</a>
                                                    </h2>
                                                    <h3 class="mbr-fonts-style time display-6">10.00 - 11.00</h3>
                                                    <h4 class="mbr-fonts-style name display-6">Amanda Snow</h4>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>









                                            <td class="time1">
                                                <p class="mbr-text mbr-fonts-style row-time display-6">16.00</p>
                                            </td>
                                            <td>
                                                <div class="box">
                                                    <h2 class="mbr-fonts-style type15 mbr-bold display-7">
                                                        <a href="#">CROSSFIT</a>
                                                    </h2>
                                                    <h3 class="mbr-fonts-style time display-6">10.00 - 11.00</h3>
                                                    <h4 class="mbr-fonts-style name display-6">Amanda Snow</h4>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="box">
                                                    <h2 class="mbr-fonts-style type16 mbr-bold display-7">
                                                        <a href="#" class="text-secondary">BOX</a>
                                                    </h2>
                                                    <h3 class="mbr-fonts-style time display-6">10.00 - 11.00</h3>
                                                    <h4 class="mbr-fonts-style name display-6">Matthew Dunn</h4>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="box">
                                                    <h2 class="mbr-fonts-style type17 mbr-bold display-7">
                                                        <a href="#">CROSSFIT</a>
                                                    </h2>
                                                    <h3 class="mbr-fonts-style time display-6">10.00 - 11.00</h3>
                                                    <h4 class="mbr-fonts-style name display-6">Amanda Snow</h4>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="box">
                                                    <h2 class="mbr-fonts-style type18 mbr-bold display-7">
                                                        <a href="#" class="text-info">CARDIO</a>
                                                    </h2>
                                                    <h3 class="mbr-fonts-style time display-6">10.00 - 11.00</h3>
                                                    <h4 class="mbr-fonts-style name display-6">Barbara Holy</h4>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="box">
                                                    <h2 class="mbr-fonts-style type19 mbr-bold display-7">
                                                        <a href="#">CROSSFIT</a>
                                                    </h2>
                                                    <h3 class="mbr-fonts-style time display-6">10.00 - 11.00</h3>
                                                    <h4 class="mbr-fonts-style name display-6">Amanda Snow</h4>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="box">
                                                    <h2 class="mbr-fonts-style type20 mbr-bold display-7">
                                                        <a href="#" class="text-info">CARDIO</a>
                                                    </h2>
                                                    <h3 class="mbr-fonts-style time display-6">10.00 - 11.00</h3>
                                                    <h4 class="mbr-fonts-style name display-6">Matthew Dunn</h4>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="box">
                                                    <h2 class="mbr-fonts-style type21 mbr-bold display-7">
                                                        <a href="#">CROSSFIT</a>
                                                    </h2>
                                                    <h3 class="mbr-fonts-style time display-6">10.00 - 11.00</h3>
                                                    <h4 class="mbr-fonts-style name display-6">Amanda Snow</h4>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>









                                            <td class="time1">
                                                <p class="mbr-text mbr-fonts-style row-time display-6">18.00</p>
                                            </td>
                                            <td>
                                                <div class="box">
                                                    <h2 class="mbr-fonts-style type22 mbr-bold display-7">
                                                        <a href="#" class="text-info">CARDIO</a>
                                                    </h2>
                                                    <h3 class="mbr-fonts-style time display-6">10.00 - 11.00</h3>
                                                    <h4 class="mbr-fonts-style name display-6">Amanda Snow</h4>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="box">
                                                    <h2 class="mbr-fonts-style type23 mbr-bold display-7">
                                                        <a href="#">CROSSFIT</a>
                                                    </h2>
                                                    <h3 class="mbr-fonts-style time display-6">10.00 - 11.00</h3>
                                                    <h4 class="mbr-fonts-style name display-6">Amanda Snow</h4>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="box">
                                                    <h2 class="mbr-fonts-style type24 mbr-bold display-7">
                                                        <a href="#" class="text-info">CARDIO</a>
                                                    </h2>
                                                    <h3 class="mbr-fonts-style time display-6">10.00 - 11.00</h3>
                                                    <h4 class="mbr-fonts-style name display-6">Amanda Snow</h4>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="box">
                                                    <h2 class="mbr-fonts-style type25 mbr-bold display-7">
                                                        <a href="#" class="text-success">FITNESS</a>
                                                    </h2>
                                                    <h3 class="mbr-fonts-style time display-6">10.00 - 11.00</h3>
                                                    <h4 class="mbr-fonts-style name display-6">Amanda Snow</h4>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="box">
                                                    <h2 class="mbr-fonts-style type26 mbr-bold display-7">
                                                        <a href="#">CROSSFIT</a>
                                                    </h2>
                                                    <h3 class="mbr-fonts-style time display-6">10.00 - 11.00</h3>
                                                    <h4 class="mbr-fonts-style name display-6">James Math</h4>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="box">
                                                    <h2 class="mbr-fonts-style type27 mbr-bold display-7">
                                                        <a href="#" class="text-success">FITNESS</a>
                                                    </h2>
                                                    <h3 class="mbr-fonts-style time display-6">10.00 - 11.00</h3>
                                                    <h4 class="mbr-fonts-style name display-6">Amanda Snow</h4>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="box">
                                                    <h2 class="mbr-fonts-style type28 mbr-bold display-7">
                                                        <a href="#">CROSSFIT</a>
                                                    </h2>
                                                    <h3 class="mbr-fonts-style time display-6">10.00 - 11.00</h3>
                                                    <h4 class="mbr-fonts-style name display-6">James Math</h4>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>









                                            <td class="time1">
                                                <p class="mbr-text mbr-fonts-style row-time display-6">20.00</p>
                                            </td>
                                            <td>
                                                <div class="box">
                                                    <h2 class="mbr-fonts-style type29 mbr-bold display-7">
                                                        <a href="#">CROSSFIT</a>
                                                    </h2>
                                                    <h3 class="mbr-fonts-style time display-6">10.00 - 11.00</h3>
                                                    <h4 class="mbr-fonts-style name display-6">Barbara Holy</h4>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="box">
                                                    <h2 class="mbr-fonts-style type30 mbr-bold display-7">
                                                        <a href="#" class="text-secondary">BOX</a>
                                                    </h2>
                                                    <h3 class="mbr-fonts-style time display-6">10.00 - 11.00</h3>
                                                    <h4 class="mbr-fonts-style name display-6">Amanda Snow</h4>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="box">
                                                    <h2 class="mbr-fonts-style type31 mbr-bold display-7">
                                                        <a href="#" class="text-success">FITNESS</a>
                                                    </h2>
                                                    <h3 class="mbr-fonts-style time display-6">10.00 - 11.00</h3>
                                                    <h4 class="mbr-fonts-style name display-6">Barbara Holy</h4>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="box">
                                                    <h2 class="mbr-fonts-style type32 mbr-bold display-7">
                                                        <a href="#">CROSSFIT</a>
                                                    </h2>
                                                    <h3 class="mbr-fonts-style time display-6">10.00 - 11.00</h3>
                                                    <h4 class="mbr-fonts-style name display-6">Amanda Snow</h4>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="box">
                                                    <h2 class="mbr-fonts-style type33 mbr-bold display-7">
                                                        <a href="#" class="text-secondary">BOX</a>
                                                    </h2>
                                                    <h3 class="mbr-fonts-style time display-6">10.00 - 11.00</h3>
                                                    <h4 class="mbr-fonts-style name display-6">James Math</h4>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="box">
                                                    <h2 class="mbr-fonts-style type34 mbr-bold display-7">
                                                        <a href="#">CROSSFIT</a>
                                                    </h2>
                                                    <h3 class="mbr-fonts-style time display-6">10.00 - 11.00</h3>
                                                    <h4 class="mbr-fonts-style name display-6">Amanda Snow</h4>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="box">
                                                    <h2 class="mbr-fonts-style type35 mbr-bold display-7">
                                                        <a href="#" class="text-info">CARDIO</a>
                                                    </h2>
                                                    <h3 class="mbr-fonts-style time display-6">10.00 - 11.00</h3>
                                                    <h4 class="mbr-fonts-style name display-6">Matthew Dunn</h4>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>*@
    <section class="footer1 cid-qTkdZp51B1" id="footer3-4c">
        <div class="container">

            <div class="mbr-row mbr-justify-content-center">
                <div class="mbr-col-lg-12 mbr-col-md-12">
                    <h3 class="mbr-fonts-style text1 align-center display-5">&#169; @DateTime.Now.Year <a href="@canonicalUrl">cutyt.com</a>. All Rights Reserved.</h3>
                </div>
            </div>
        </div>
    </section>
</body>
</html>