<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta title="@SiteConstants.Title" />
    <meta property="og:image" content="@SiteConstants.ImageUrl" />
    <meta property="og:title" content="@SiteConstants.Title" />
    <meta property="og:description" content="@SiteConstants.Description" />
    <meta property="og:url" content="@SiteConstants.CanonicalUrl" />
    <meta property="og:site_name" content="@SiteConstants.SiteName" />
    <meta property="og:author" content="@SiteConstants.Author" />
    <meta property="og:type" content="website" />
    <meta property="fb:app:id" content="773558706918738" />
    <meta property="fb:app_id" content="773558706918738" />

    <meta name="description" content="@($"{SiteConstants.TitleLong}. {SiteConstants.Description}.")">
    <title>@SiteConstants.TitleLong</title>

    <link rel="canonical" href="@SiteConstants.CanonicalUrl" />
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
        @*<link rel="stylesheet" href="~/css/site.css" />*@
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <link href="https://kendo.cdn.telerik.com/2021.1.330/styles/kendo.common-fiori.min.css" rel="stylesheet" type="text/css" />
    <link href="https://kendo.cdn.telerik.com/2021.1.330/styles/kendo.fiori.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kendo.cdn.telerik.com/2021.1.330/js/jquery.min.js"></script>
    @*<script src="https://kendo.cdn.telerik.com/2021.1.330/js/jszip.min.js"></script>*@
    @*<script src="https://kendo.cdn.telerik.com/2021.1.330/js/kendo.all.min.js"></script>*@
    <script src="https://kendo.cdn.telerik.com/2021.1.330/js/kendo.core.min.js"></script>

    <script src="https://kendo.cdn.telerik.com/2021.1.330/js/kendo.loader.min.js"></script>


    <script src="https://kendo.cdn.telerik.com/2021.1.330/js/kendo.button.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2021.1.330/js/kendo.floatinglabel.min.js"></script>

    <script src="https://kendo.cdn.telerik.com/2021.1.330/js/kendo.textbox.min.js"></script>

    <script src="https://kendo.cdn.telerik.com/2021.1.330/js/kendo.inputgroupbase.min.js"></script>

    <script src="https://kendo.cdn.telerik.com/2021.1.330/js/kendo.radiogroup.min.js"></script>

    <script src="https://kendo.cdn.telerik.com/2021.1.330/js/kendo.menu.min.js"></script>

    <script src="https://kendo.cdn.telerik.com/2021.1.330/js/kendo.responsivepanel.min.js"></script>

    <script src="https://kendo.cdn.telerik.com/2021.1.330/js/kendo.userevents.min.js"></script>

    <script src="https://kendo.cdn.telerik.com/2021.1.330/js/kendo.draganddrop.min.js"></script>

    <script src="https://kendo.cdn.telerik.com/2021.1.330/js/kendo.slider.min.js"></script>


    @*<script src="https://kendo.cdn.telerik.com/2021.1.330/js/kendo.selectable.min.js"></script>*@
    <script src="https://kendo.cdn.telerik.com/2021.1.330/js/kendo.data.min.js"></script>

    <script src="https://kendo.cdn.telerik.com/2021.1.330/js/kendo.popup.min.js"></script>

    <script src="https://kendo.cdn.telerik.com/2021.1.330/js/kendo.list.min.js"></script>

    <script src="https://kendo.cdn.telerik.com/2021.1.330/js/kendo.dropdownlist.min.js"></script>

    <script src="https://kendo.cdn.telerik.com/2021.1.330/js/kendo.userevents.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2021.1.330/js/kendo.toolbar.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2021.1.330/js/kendo.mediaplayer.min.js"></script>

    <script src="https://kendo.cdn.telerik.com/2021.1.330/js/kendo.data.min.js"></script>

    <script src="https://kendo.cdn.telerik.com/2021.1.330/js/kendo.aspnetmvc.min.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-PK6JDTVPMV"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-PK6JDTVPMV');
    </script>
</head>
<body class="k-content">
    @*<nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid d-flex justify-content-between p-0">
            <a class="navbar-brand d-flex align-items-center" asp-controller="Home" asp-action="Index">@(SiteConstants.Title)</a>
            <button id="configure" class="k-rpanel-toggle k-button k-primary btn-toggle">
                <span class="k-icon k-i-menu"></span>
            </button>
        </div>
    </nav>
    <div id="responsive-panel" class="navbar navbar-dark bg-light mb-4">
        <kendo-responsivepanel name="responsive-panel" auto-close="false" breakpoint="768" orientation="top">
            @(Html.Kendo().Menu()
                        .Name("Menu")
                        .Items(items =>
                        {
                            items.Add().Text("Home").Action("Index", "Home", new { area = "" });
                        })
            )
        </kendo-responsivepanel>
    </div>*@

    <header>
        <section>

            <div class="position-relative overflow-hidden p-1 p-md-1 m-md-1 text-center bg-light">
                <div class="mx-auto my-5">
                    <h1>@(SiteConstants.Title.ToUpperInvariant())</h1>
                    <h2>@SiteConstants.Description</h2>
                </div>
            </div>

        </section>
    </header>

    <main>
        <div class="container-fluid">
            @RenderBody()
        </div>
    </main>

    <footer class="footer text-center d-flex align-items-center">
        <div class="container-fluid">
            <p class="text-muted">
                &#169; @DateTime.Now.Year <a href="@SiteConstants.CanonicalUrl" title="@SiteConstants.Title">cutyt.com</a>. All Rights Reserved. Follow us: <a target="_blank" title="https://www.facebook.com/Cutyt-162865322145097" href="https://www.facebook.com/Cutyt-162865322145097">
                <span class="mbr-iconfont-c fa-facebook-f fa"></span>
                </a>
            </p>
        </div>
    </footer>

    <environment names="Development">
        <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>