@model IndexViewModel
@{
    Layout = null;
    string title = "Cut YouTube";
    string description = "Trim, Convert and Download YouTube videos.";

    string sitename = "https://www.cutyt.com/";
    string author = "https://www.cutyt.com/";
    string canonicalUrl = "https://www.cutyt.com/";
    string imageUrl = "https://www.cutyt.com/android-chrome-512x512.png";
}
<!DOCTYPE html>
<html amp lang="en">
<head>
    <meta charset="utf-8" />
    <meta title="@title" />
    <meta property="og:image" content="@imageUrl" />
    <meta property="og:title" content="@title" />
    <meta property="og:description" content="@description" />
    <meta property="og:url" content="@canonicalUrl" />
    <meta property="og:site_name" content="@sitename" />
    <meta property="og:author" content="@author" />
    <meta property="og:type" content="website" />
    <meta property="fb:app:id" content="773558706918738" />
    <meta property="fb:app_id" content="773558706918738" />

    <meta name="description" content="@description">
    <title>@title</title>
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
    <script custom-template="amp-mustache" src="https://cdn.ampproject.org/v0/amp-mustache-0.2.js" async></script>
    <script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>
    <script async custom-element="amp-bind" src="https://cdn.ampproject.org/v0/amp-bind-0.1.js"></script>
    <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
    <script async custom-element="amp-list" src="https://cdn.ampproject.org/v0/amp-list-0.1.js"></script>
    <script async custom-element="amp-selector" src="https://cdn.ampproject.org/v0/amp-selector-0.1.js"></script>
    @*<script async custom-element="amp-vimeo" src="https://cdn.ampproject.org/v0/amp-vimeo-0.1.js"></script>*@
    <script async custom-element="amp-addthis" src="https://cdn.ampproject.org/v0/amp-addthis-0.1.js"></script>

    <link rel="canonical" href="@canonicalUrl" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <link href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">

    <partial name="_BoilerplateCssPartial.cshtml" />
    <partial name="_AmpCustomCssPartial.cshtml" />
</head>
<body>
    <amp-analytics type="gtag" data-credentials="include">
        <script type="application/json">
            {
              "vars" : {
                "gtag_id": "UA-43988280-11",
                "config" : {
                  "UA-43988280-11": { "groups": "default" }
                }
              }
            }
        </script>
    </amp-analytics>
    <nav class="navbar navbar-dropdown  navbar-fixed-top navbar-expand-lg align-center">
        <div class="navbar-brand">
            <span class="navbar-caption-wrap">
                <a class="navbar-caption text-danger display-7" href="/" title="Home">
                    <amp-img src="android-chrome-192x192.png" layout="fixed" width="17" height="17" alt="@(title)">
                    </amp-img>Home
                </a>
            </span>
        </div>
    </nav>
    <header>
        <section class="header2 cid-qTgUa10oxi" id="header2-q">
            <div class="container">
                <div class="mbr-row mbr-justify-content-center">
                    <div class="mbr-col-lg-8 mbr-col-md-12">
                        <h1 class="mbr-fonts-style mbr-section-title mbr-bold align-center display-3 cap">@(title.ToUpperInvariant())</h1>
                        <h2 class="mbr-fonts-style mbr-text align-center display-4">@description</h2>
                    </div>
                </div>
            </div>
        </section>
    </header>
    <section class="form1 cid-qTgW5lPO8j" id="form1-26">
        <div class="container">
            <div class="mbr-row mbr-justify-content-center">
                <div class="mbr-col-lg-12  mbr-col-md-12 " data-form-type="formoid">
                    <form class="mbr-form user-invalid" method="post" action-xhr="/home/getyoutubev" on="submit-success: AMP.setState({ 'youTubeInfoResult': event.response.youTubeInfoResult })" novalidate="">

                        <div class="fieldset">
                            <input type="text" name="ytUrl" placeholder="Enter YouTube URL here" value="@(!string.IsNullOrEmpty(Model?.V) ? $"https://www.youtube.com/watch?v={Model?.V}" : "")" />
                        </div>
                        <div class="align-center">
                            <div class="mbr-section-btn input-group-btn">
                                <button type="submit" class="btn btn-lg mbr-editable-button btn-primary-outline display-6" on="tap: AMP.setState({ 'youTubeInfoResult': '' })">
                                    Preview
                                </button>
                            </div>
                        </div>
                        <div submitting>

                            <template type="amp-mustache">
                                <div class="container">
                                    <div class="mbr-row mbr-justify-content-center">
                                        <h3>
                                            <i class="fa fa-refresh fa-spin"></i>
                                            <span class="sr-only">Generating preview ...</span>
                                            Generating preview ...
                                            <i class="fa fa-refresh fa-spin"></i>
                                            <span class="sr-only">Generating preview ...</span>
                                        </h3>
                                    </div>
                                </div>
                            </template>


                        </div>
                        <div submit-success="">
                            <template type="amp-mustache">
                                <amp-youtube data-videoid="{{youTubeInfoResult.v}}" [class]="{{youTubeInfoResult.v}} != '-1' ? 'show' : 'hide'" class="hide"
                                             layout="fixed-height"
                                             width="auto"
                                             height="270"></amp-youtube>
                                @*<amp-vimeo data-videoid="{{youTubeInfoResult.vimeoId}}" [class]="{{youTubeInfoResult.vimeoId}} != '-1' ? 'show' : 'hide'" class="hide"
                                    layout="fixed-height"
                                    width="auto"
                                    height="270"></amp-vimeo>*@
                                <amp-selector layout="container"
                                              class="radio-selector"
                                              on="select: AMP.setState({selectedOption: event.targetOption, allSelectedOptions: event.selectedOptions})">

                                    <div class="container">
                                        <div class="mbr-row mbr-justify-content-center mbr-bold">
                                            <div class="mbr-col-lg-8 mbr-col-md-12">
                                                <h2 class="mbr-fonts-style mbr-section-title mbr-bold align-center display-4">Video</h2>
                                                {{#youTubeInfoResult.infos}}
                                                <div option="{{downloadSwitchAudioAndVideo}}" selected>
                                                    <input type="radio" name="info" id="{{downloadSwitchAudioAndVideo}}" value="{{downloadSwitchAudioAndVideo}}" style="width:auto;margin-bottom:5px; margin-top:5px;" checked="checked" />
                                                    <label for="{{downloadSwitchAudioAndVideo}}">{{videoResolutionP}} ({{size}})</label>
                                                </div>
                                                {{/youTubeInfoResult.infos}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="container">
                                        <div class="mbr-row mbr-justify-content-center mbr-bold">
                                            <div class="mbr-col-lg-8 mbr-col-md-12">
                                                <h2 class="mbr-fonts-style mbr-section-title mbr-bold align-center display-4">Audio</h2>
                                                <div option="bestaudio -x --audio-format mp3">
                                                    <input type="radio" name="info" id="mp3" value="bestaudio -x --audio-format mp3" style="width:auto;margin-bottom:5px; margin-top:5px;" />
                                                    <label for="mp3">MP3</label>
                                                </div>
                                                <div option="bestaudio -x --audio-format aac">
                                                    <input type="radio" name="info" id="aac" value="bestaudio -x --audio-format aac" style="width:auto;margin-bottom:5px; margin-top:5px;" />
                                                    <label for="aac">AAC</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </amp-selector>

                            </template>
                        </div>
                        <div submit-error="">
                            <template data-form-alert="" type="amp-mustache">
                                There was an error. Please try again.
                            </template>
                        </div>
                    </form>

                    <div [class]="youTubeInfoResult.v ? 'show' : 'hide'" class="hide">
                        <form method="post" id="lead-collection-form3" action-xhr="/home/generate">
                            <input type="hidden" name="v" id="v" [value]="youTubeInfoResult.v" />
                            <input type="hidden" name="vimeoId" id="vimeoId" [value]="youTubeInfoResult.vimeoId" />
                            <input type="hidden" name="selectedOption" id="selectedOption" [value]="selectedOption" />
                            <div class="align-center">
                                <div class="mbr-section-btn input-group-btn">
                                    <button type="submit" class="btn btn-lg mbr-editable-button btn-secondary-outline display-6">
                                        Generate Download Links
                                    </button>
                                </div>
                            </div>
                            <div submitting>
                                <template type="amp-mustache">
                                    <div class="container">

                                        <div class="mbr-row mbr-justify-content-center">
                                            <i class="fa fa-cog fa-spin"></i>
                                            <span class="sr-only">The download link is being generated...</span>
                                            The download link is being generated... Why don't you share us while you are waiting:
                                        </div>
                                        <div class="mbr-row mbr-justify-content-center">
                                            <amp-addthis width="320" height="92" data-pub-id="ra-6043f6619df39ba3" data-widget-id="jasp" data-widget-type="inline"></amp-addthis>
                                        </div>
                                    </div>
                                </template>
                            </div>
                            <div submit-success>
                                <template type="amp-mustache">
                                    <div class="container">

                                        <div class="mbr-row mbr-justify-content-center">
                                            <a target="_blank" title="{{fileName}}" href="{{url}}">{{fileName}}</a>
                                        </div>
                                        <div class="mbr-row mbr-justify-content-center">
                                           <amp-addthis width="320" height="92" data-pub-id="ra-6043f6619df39ba3" data-widget-id="jasp" data-widget-type="inline"></amp-addthis>
                                        </div>
                                    </div>
                                </template>
                            </div>
                            <div submit-error>
                                <template type="amp-mustache">
                                    There was an error. Please try again.
                                </template>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="features1 cid-qTgUKsQcnH" id="features1-v">
        <div class="container">
            <div class="mbr-row mbr-justify-content-center">
                <div class="card mbr-col-sm-12 mbr-col-md-6 mbr-col-lg-3">
                    <div class="card-wrapper">
                        <div class="card-img">
                            <span class="mbr-iconfont fa-bullhorn fa" style="color: rebeccapurple;"></span>
                        </div>
                        <div class="card-box">
                            <h4 class="box-title mbr-fonts-style align-center mbr-bold display-7">NO ADS</h4>

                            <p class="mbr-text mbr-fonts-style align-center display-5">
                                Tired of ads? With our service no advertisements will be shown while you are enjoing you favorite video or audio
                            </p>

                        </div>
                    </div>
                </div>

                <div class="card mbr-col-sm-12 mbr-col-md-6 mbr-col-lg-3">
                    <div class="card-wrapper">
                        <div class="card-img">
                            <span class="mbr-iconfont fa-bolt fa" style="color: rebeccapurple;"></span>
                        </div>

                        <div class="card-box">
                            <h4 class="box-title mbr-fonts-style align-center mbr-bold display-7">NO BUFFER</h4>

                            <p class="mbr-text mbr-fonts-style align-center display-5">
                               Slow connection can make you video stop while buffering. This is no longer the case when you download your file with Cutyt.
                            </p>

                        </div>
                    </div>
                </div>

                <div class="card mbr-col-sm-12 mbr-col-md-6 mbr-col-lg-3">
                    <div class="card-wrapper">
                        <div class="card-img">
                            <span class="mbr-iconfont fa-cloud-download  fa" style="color: rebeccapurple;"></span>
                        </div>
                        <div class="card-box">
                            <h4 class="box-title mbr-fonts-style align-center mbr-bold display-7">SAVE BANDWIDTH</h4>

                            <p class="mbr-text mbr-fonts-style align-center display-5">
                                When you are wathcing high resolution videos like 1080p or 4K you are downloading huge ammoung of data every time. With Cutyt you are downloading only once.
                            </p>

                        </div>
                    </div>
                </div>

                <div class="card mbr-col-sm-12 mbr-col-md-6 mbr-col-lg-3 last-child">
                    <div class="card-wrapper">
                        <div class="card-img" style="color: rebeccapurple;">
                            <span class="mbr-iconfont fa-windows fa" style="color: rebeccapurple;"></span>
                        </div>
                        <div class="card-box">
                            <h4 class="box-title mbr-fonts-style align-center mbr-bold display-7">WORKS OFFLINE</h4>

                            <p class="mbr-text mbr-fonts-style align-center display-5">
                                Once you download the file no internet connection will be required to watch or listen it again.
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="features1 cid-qTgUKsQcnH" id="features1-v">
        <div class="container">
            <div class="mbr-row mbr-justify-content-center">
                <div class="card mbr-col-sm-12 mbr-col-md-6 mbr-col-lg-3">
                    <div class="card-wrapper">
                        <div class="card-img">
                            <span class="mbr-iconfont fa-dollar fa" style="color: rebeccapurple;"></span>
                        </div>
                        <div class="card-box">
                            <h4 class="box-title mbr-fonts-style align-center mbr-bold display-7">FREE SERVICE</h4>

                            <p class="mbr-text mbr-fonts-style align-center display-5">
                                Our service is always free. No registration required. Download youtube videos without having to pay anything.
                            </p>

                        </div>
                    </div>
                </div>

                <div class="card mbr-col-sm-12 mbr-col-md-6 mbr-col-lg-3">
                    <div class="card-wrapper">
                        <div class="card-img">
                            <span class="mbr-iconfont fa-download fa" style="color: rebeccapurple;"></span>
                        </div>

                        <div class="card-box">
                            <h4 class="box-title mbr-fonts-style align-center mbr-bold display-7">UNLIMITED DOWNLOADS</h4>

                            <p class="mbr-text mbr-fonts-style align-center display-5">
                                Download youtube videos as much as you like! No limitations for the number of downloads. Unrestricted file sizes.
                            </p>

                        </div>
                    </div>
                </div>

                <div class="card mbr-col-sm-12 mbr-col-md-6 mbr-col-lg-3">
                    <div class="card-wrapper">
                        <div class="card-img">
                            <span class="mbr-iconfont fa-user-secret fa" style="color: rebeccapurple;"></span>
                        </div>
                        <div class="card-box">
                            <h4 class="box-title mbr-fonts-style align-center mbr-bold display-7">SECURE DOWNLOADS</h4>

                            <p class="mbr-text mbr-fonts-style align-center display-5">
                                We use HTTPS for secure connections. We do not collect any personal data. We do not use cookies, but third party services may use them.
                            </p>

                        </div>
                    </div>
                </div>

                <div class="card mbr-col-sm-12 mbr-col-md-6 mbr-col-lg-3 last-child">
                    <div class="card-wrapper">
                        <div class="card-img" style="color: rebeccapurple;">
                            <span class="mbr-iconfont fa-windows fa" style="color: rebeccapurple;"></span>
                        </div>
                        <div class="card-box">
                            <h4 class="box-title mbr-fonts-style align-center mbr-bold display-7">RUNS EVERYWHERE</h4>

                            <p class="mbr-text mbr-fonts-style align-center display-5">
                                Our responsive and ultra fast website can be used on every platform that is out there. Windows, Linux, Mac, Android, iOS - we support everything.
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="footer1 cid-qTkdZp51B1" id="footer3-4c">
        <div class="container">

            <div class="mbr-row mbr-justify-content-center">
                <div class="mbr-col-lg-12 mbr-col-md-12">
                    <h3 class="mbr-fonts-style text1 align-center display-5">
                        &#169; @DateTime.Now.Year <a href="@canonicalUrl" title="@canonicalUrl">cutyt.com</a>. All Rights Reserved. Follow us: <a target="_blank" title="https://www.facebook.com/Cutyt-162865322145097" href="https://www.facebook.com/Cutyt-162865322145097">
                            <span class="mbr-iconfont-c fa-facebook-f fa"></span>
                        </a>
                    </h3>
                </div>
            </div>
        </div>
    </section>
</body>
</html>